# Ignore specific directories

# Track .obsidian settings, but ignore workspace files that change constantly
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/

.trash/
Devtools.md/
OneNote/
Others/
copilot/
# SystemDesign/
